{% extends 'social/feed.html' %}
{% block content %}

<!-- Profile -->
<!--<img src="{{ user.profile.image.url }}" alt="Profile Image">-->
<div class="profile">
	<img src="{{ user.profile.image.url }}">
	<h2>@{{ user.username }}</h2>

	{% if request.user.is_authenticated %}
		{% if user.username != request.user.username %}
			{% if user not in request.user.profile.following %}
			<button><a class="follow-button" href="{% url 'follow' user %}">Follow</a></button>
			{% else %}
			<button><a class="follow-button" href="{% url 'unfollow' user %}">Unfollow</a></button>
			{% endif %}
		{% endif %}

		<!--agregar boton para editar perfil-->
		{% if user == request.user %}
			<button onclick="document.getElementById('profile-image-input').click()">Editar foto de perfil</button>
			<form method="post" action="{% url 'edit_profile_photo' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="profile_image" id="profile-image-input" style="display: none;" accept="image/">
				<input type="submit" value="Save" style="display: none;">
			</form>
		{% endif %}
	{% endif %}
</div>

<!-- Follow items -->
<div class="follow">
	<div>
		<h5>Post</h5>
		<p>{{ user.posts.count }}</p>
	</div>
	<div>
		<h5>Followers</h5>
		<p>{{ user.profile.followers.count }}</p>

	</div>
	<div>
		<h5>Following</h5>
		<p>{{ user.profile.following.count }}</p>
	</div>
</div>


{{ block.super }}
{% endblock %}